
<%- include("../partials/header.ejs") %>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><%= cohort.title %> </h5>
                <p class="card-text"><%= cohort.members %> </p>
                <img class="small-image" src="<%= cohort.imageUrl %>" />
            </div>
        </div>


         <form action ="/cohorts/<%= cohort.id %>" method="GET">
           Method
           <div class="custom-control custom-radio">
              <input type="radio" id="customRadio1" name="method" value ="TC"  class="custom-control-input">
              <label class="custom-control-label" for="customRadio1">Team Count</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio2" name="method"  value ="NPT"  class="custom-control-input">
              <label class="custom-control-label" for="customRadio2">Number Per Team</label>
            </div>
             <div class="form-group">
               quantity
                 <input type="text" name="quantity" class="form-control" />
             </div>
             <button type="submit" class="btn btn-primary">Assign Team</button>
         </form>
      <% for(let element of arr ) { %>
        <h6><%= element.toString()%></h6>
      <% } %>
    </div>




<%- include("../partials/footer.ejs") %>
